/* Reset CSS */

* {
    box-sizing: border-box;
    margin: 0;
}

.a11yHidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: none;
}
ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 12px;
    line-height: 1.5;
    color: #2B292D;
    letter-spacing: -0.01em;
}

/* Header */

.top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
    gap: 20px;
    padding: 18px 20px;
    background-color: black;
    color: #fff;    
    position: relative;
}

.home-logo {
    font-size: 23px;
}

.search-slide {
    display: flex;    
    align-items: center;
}




/* Search */

.search-form {
    display: flex;
    width: 263px;
}

.search-var {
    width: 227px;
    height: 30px;
}

.search-form button{
    width: 30px;
    height: 30px;
    border: 0;
    background: url(assets/돋보기.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
}

/* slide */


.slide-banner {    
    overflow: hidden;
    width: 217px;
    height: 32px;
    position: relative;      
}


.slide-banner {
    width:100%; height:50px; overflow:hidden;
}
.slides {
    position:relative; width:100%; height:auto;
}
.slides li {
    width:100%; height:50px; line-height:50px;
}

.nav-menu-list {
    display: flex;
    flex: 0 0 auto;
    margin-left: auto;
    
}
.table {    
    display: none;
    position: fixed;    
    top: 65px;
    width: 783px;
    height: 468px;
    color: black;        
}


.slide-banner:hover ~ .table { display: flex; } 


.search-word {
    width: 261px;
    border-right: solid 1px #2B292D;
    border-bottom: solid 1px #2B292D;
}

.search-word:first-child {
    border-left: solid 1px #2B292D;
}

.search-table-top {
    display: flex;        
    flex-direction: row;
    align-items: center;    
    width: 260px;    
    height: 46px;
    background-color: rgb(243, 243, 243);
}
.search-word:first-child .search-table-top {
    border-right: solid 1px #2B292D;
}


.search-table-top h3{
    font-size: 13px;
    flex: auto;
    margin: 10px;    
}

.underline-gray {
    margin: 10px;
    font-size: 13px;
    border: 0;
    color: rgb(178, 178, 178);
    text-decoration: underline;
}

.button-group {    
    display: flex;
    align-items: center;  
}

.button-group div button {
    border: 0;
    margin: 0;
    width: 20px;
    height: 20px;
}

.search-table-article {    
    padding: 50px;
    text-align: center;
}

.table-item {
    display: block;    
    width: 260px;
    height: 42px;    
    padding: 10px;    
}

.table-item strong {
    padding-right: 10px;    
}

.rank-item {
    border-top: #2B292D 1px solid;
}

.rank-item a{
    display: flex;
    position: relative;
    width: 260px;
    height: 70px;
    align-items: center;
    text-align: center;
}

.rank-item-png {    
    width: 50px;
    height: 60px;
}

.rank-item p {
    position: absolute;
    right: 50%;
    bottom: 10%;
}

/* nav menu */

.nav-menu-list {    
    display: flex;    
    flex-wrap: nowrap;
    margin-left: 10px;        
    align-items: center;
}

.nav-menu-item{
    display: block;    
    width: auto;
    white-space: nowrap;
    text-align: center;    
    align-items: center;    
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 700;
    
    
}

.nav-menu-list li:first-child {
    color: rgb(240, 229, 76);
}

.nav-menu-list li:nth-child(2) {
    color: rgb(55, 176, 244);
}

.nav-menu-list li:nth-child(3) {
    color: rgb(227, 143, 44);
}


